@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar{
  display: none;
}

.clippath {
  clip-path: polygon(5% 0, 100% 0%, 100% 100%, 18% 100%);
}

input[type="radio"]:checked + label .radio {
  background: #000;
}